<!DOCTYPE html>
<<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<body>

    <header class="main-header">
        <h2>Agenda de Funcionários</h2>
    </header>

    <nav class="main-nav">
        <a href="/" class='card'>
            <div class='card-content'>
                <span class="material-symbols-outlined">home</span>
            </div>
        </a>
        <a href="/reservas" class='card'>
            <div class='card-content'>
                <h4>Reservas</h4>
            </div>
        </a>
        <a href="/clientes" class='card'>
            <div class='card-content'>
                <h4>Clientes</h4>
            </div>
        </a>
        <a href="/mesas" class='card' th:if="${utilizador.perfil == 'GERENTE' or utilizador.perfil == 'ADMIN'}">
            <div class='card-content'>
                <h4>Mesas</h4>
            </div>
        </a>
        <a href="/funcionarios" class='card' th:if="${utilizador.perfil == 'GERENTE' or utilizador.perfil == 'ADMIN'}">
            <div class='card-content'>
                <h4>Funcionários</h4>
            </div>
        </a>
        <a href="/gerentes" class='card' th:if="${utilizador.perfil == 'ADMIN'}">
            <div class='card-content'>
                <h4>Gerentes</h4>
            </div>
        </a>
        <a href="/notificacoes" class='card'>
            <div class='card-content'>
                <h4>Notificações</h4>
            </div>
        </a>
        <a href="/utilizadores" class='card' th:if="${utilizador.perfil == 'ADMIN'}">
            <div class='card-content'>
                <h4>Utilizadores</h4>
            </div>
        </a>
        <a href="/disponibilidade" class='card' th:if="${utilizador.perfil == 'GERENTE' or utilizador.perfil == 'ADMIN'}">
            <div class='card-content'>
                <h4>Agenda</h4>
            </div>
        </a>
        <a href="/logout" class='card'>
            <div class='card-content'>
                <h4 th:text="'Utilizador: ' + ${utilizador.nome} + ' (' + ${utilizador.perfil} + ')' + '  ⏻ '">PerfilLogout</h4>
            </div>
        </a>
    </nav>

    <div id="tabelaDisponibilidade">
        <h3 th:text = "${mensagem}">Disponibilidade</h3>
        <table>
            <tr>
                <th>Dia da Semana</th>
                <th>Hora Início</th>
                <th>Hora Fim</th>
                <th>Funcionário</th>
            </tr>

            <tr th:each="d : ${lista}">
                <td class="coluna-diaDaSemana" th:text="${d.diaDaSemana}"></td>
                <td class="coluna-horaInicio" th:text="${d.horaInicio}"></td>
                <td class="coluna-horaFim"  th:text="${d.horaFim}"></td>
                <td class="coluna-funcionario"  th:text="${d.funcionario.nome}"></td>
            </tr>
        </table>
    </div>

    <div class="accoes">
        <button class="botao" onclick="marcarDisponibilidade()">Destacar Disponibilidade</button>
        <button class="botao" onclick="toggleTabelaDisponibilidade()">Mostrar/Esconder Tabela</button>
        <button class="botao" onclick="mostrarNovaDisponibilidade()">Inserir Nova Disponibilidade</button>
    </div>

    <div id="novaDisponibilidade" style="display: none">

        <form action="/disponibilidade" method="post" class="form-container">
            <h3>Nova Disponibilidade</h3>

            <div>
                <label for="diaDaSemana">Dia da Semana:</label>
                <select id="diaDaSemana" name="diaDaSemana" required>
                    <option value="" disabled selected>Selecione o Dia da Semana...</option>
                    <option value="SEG">Segunda-feira</option>
                    <option value="TER">Terça-feira</option>
                    <option value="QUA">Quarta-feira</option>
                    <option value="QUI">Quinta-feira</option>
                    <option value="SEX">Sexta-feira</option>
                    <option value="SAB">Sábado</option>
                    <option value="DOM">Domingo</option>
                </select>
            </div>
            <div>
                <label for="horaInicio">Hora Início:</label>
                <input type="time" id="horaInicio" name="horaInicio" required>
            </div>
            <div>
                <label for="horaFim">Hora Fim:</label>
                <input type="time" id="horaFim" name="horaFim" required>
            </div>
            <div>
                <label for="funcionario">Funcionário:</label>
                <select name="idFuncionario" id="funcionario" required>
                    <option th:each = "funcionario : ${funcionarios}"
                            th:value="${funcionario.idFuncionario}"
                            th:text = "${funcionario.nome}">
                    </option>
                </select>
            </div>
            <button type="submit">Adicionar Disponibilidade</button>
        </form>
    </div>
    <script th:src="@{/js/script.js}"></script>

</body>
</html>