<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<body>

    <header class="main-header">
        <h1>  🍽 Restaurante - Menu de Gestão 🍽  </h1>
    </header>

    <div id="login" style="display: flex">

        <form action="/login" method="post" class="form-container">
            <h3>Iniciar Sessão</h3>

            <div>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="senha" placeholder="Senha" required>

                <p th:if= "${erro}"
                   th:text="${erro}"
                   class="erro"></p>

                <button type="submit">Entrar</button>
            </div>

        </form>
    </div>

</body>
</html>